<div id="push"></div>
  <footer class="footer navbar fixed-bottom d-flex justify-content-center" >
    <div id="push" class="p-5 mb-7 window rounded-3">
      <nav class="navbar  ">
        <a class="navbar-brand" href="https://daedalussolutions.software">Website</a>
        <a class="navbar-brand" href="https://github.com/daedalussolutions">Github</a>
        <a class="navbar-brand" href="https://linkedin.com/in/dylan-cassell-">LinkedIn</a>
      </nav>
      <div class="d-flex justify-content-center">Created by Dylan Cassell</div>
    </div>
  </footer>