<div class="p-5 mb-7 window rounded-3">
        <div class="container-fluid py-5">
        <h1>About Weather On Rails</h1>
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-start flex-column p-1">
                <p>Weather on Rails is a web application I created as I learned how to develop in Ruby On Rails. The application uses browser geolocation to get the user's
                geographical coordinates and then uses them to call to the Open Weather Map API to return the user's local weather information. The app also uses the
                Ruby on Rails gem Geocoder to search for information about the user's coordinates, such as the country and city. </p>
                <br>
                <p>
                The style of the web app was inspired by the aethestics of glassmorphism and frutiger aero. The latter aesthetic is something I heavily associate with the Canadian
                weather channel "The Weather Network". The frutiger aero aesthetic phenomenon of the late 2000s and early 2010s gives me a great feeling of nostalgia, and during this
                period I would watch The Weather Network for extended periods of time.
                </p>
                <br>
                <a href="https://openweathermap.org/api">Open Weather Map API</a>
                <a href="https://github.com/alexreisner/geocoder">Geocoder Gem Docs</a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/API/Geolocation">Geolocation Docs</a>
            </div>
            <div class="p-3"><%= image_tag ("weathernetwork.jpg")%></div>

        </div>
      </div>
  </div>